<nav class="bm-navbar">
  <div class="container py-3 d-flex align-items-center justify-content-between">
    <a class="bm-auth-back" href="/">
      <i class="fa-solid fa-arrow-left me-1"></i> Volver al inicio
    </a>
    <a class="navbar-brand d-flex align-items-center gap-2 m-0" href="/">
      <span style="font-size:1.25rem">🦜</span>
      <span>BiLingo Meet</span>
    </a>
  </div>
</nav>